# Archivos compilados
target/
*.class
*.jar
*.war
*.ear

# Configuración IDE
.idea/
.vscode/
*.iml
.settings/
.classpath
.project

# Logs
*.log

# Node
node_modules/
package-lock.json

# Sistema operativo
.DS_Store
Thumbs.db
